
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an text logo -->
      <!-- <h1><a href="index.html">NewBiz</a></h1> -->
      <a routerLink="/home"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>
    </div>

    <nav class="main-nav float-left d-none d-lg-block ml-lg-5">
      <ul>
        <li class="active d-none"><a routerLink="/home" >home</a></li>
        <li class=""><a routerLink="#solution" routerLinkActive="active">The Solution</a></li>
        <li><a routerLink="#functions" routerLinkActive="active" >Principal Functions</a></li>
        <li><a routerLink="#about" routerLinkActive="active" >Contact Us</a></li>

        <li class="d-lg-none"><a  routerLink="careers"  routerLinkActive="active">Careers</a></li>
        <li class="d-lg-none drop-down"><a href="#">English</a>
          <ul>
            <li><a href="#">Other</a></li>
         
          </ul>
        </li>
            
        
      </ul>

     
    </nav><!-- .main-nav -->
    <nav class="main-nav float-right  d-lg-block" id="d-mobile-none">
      <ul class=" ">
        
        <li class=""><a routerLink="careers" routerLinkActive="active" >Careers</a></li>
        <li class="drop-down"><a href="#">English</a>
          <ul>
            <li><a href="#">Other</a></li>
         
          </ul>
        </li>

      </ul>
    </nav>

  </div>
</header><!-- #header -->

<router-outlet></router-outlet>


   <!-- ======= Footer ======= -->
   <footer id="footer">
    

    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class="col col-6 col-md-10 col-xs-6 col-sm-6 float-left">
           <p>&copy; Copyright <strong>100m3</strong></p> 
          </div>
          <div class=" col col-6 col-md-2 col-xs-6 col-sm-6 float-right text-right ">
            <img src="/assets/img/logo.png" alt="">
          </div>
        </div>
       
      </div>

      
    </div>
  </footer><!-- End Footer -->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>