      
  <section class="clearfix" id="intro-video">
    <video autoplay muted loop class="d-none-smart" data-aos="fade-up" src="./assets/img/100m3v2.mp4" type="video/mp4"></video>
  
  <video autoplay muted loop playsinline controls="true"  class="d-lg-none d-xl-none" src="./assets/img/100m3MobileB.mp4" type="video/mp4" data-aos="fade-up"></video>
  
  
  
  
  </section>
  
  <main id="main">
  
  <section id="solution">
    <div class="container" data-aos="fade-up" >
      <div class="row solution-container">
        <div class="row solution-extra align-middle">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="./assets/img/img-01.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-oc-5 " data-aos="fade-left">
            <h4 class="sub-title">THE SOLUTION</h4>
            <h3 class="title">What we do</h3>
            <p>
              100m3 is a software specially designed to solve the most important tasks of timber trade supply chain management faced by producers and buyers such as fast reporting, quality assurance and regulations compliance, demand forecasting and production planning, costs optimization and customer satisfaction.
            </p>
            
          </div>
        </div>
        
  
    </div>
  
    </div>
  </section>
  
  
  
  <!-- ======= About Section ======= -->
  <section id="functions">
    <div class="container" data-aos="fade-up">
  
      <div class="row functions-container">
  
        
  
        <div class="col-lg-6   pt-oc-5">
          <h4 class="sub-title">PRINCIPAL FUNCTIONS</h4>
            <h3 class="title">Technology and features</h3>
          <p>
            100m3 is a cloud-based timber trade SaaS designed to respond in an efficient and timely way to constantly evolving customer expectations, the increasing complexity of the market and timber trade regulation
          </p>
          <div class="row align-middle">
            <div class="col-lg-6 col-md-6 col-sm-6 align-middle">
              <div class="icon-box align-middle" data-aos="fade-up" data-aos-delay="100">
                <div class="icon">
                  <img src="./assets/img/reporting.svg" alt="">
                </div>
               
                <p class="description">Reporting
                  tools</p>
              </div>
  
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon">
                  <img src="./assets/img/Icon-02.svg" alt="">
                </div>
                <p class="description">Documentation
                  management</p>
              </div>
  
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 align-middle">
              <div class="icon-box align-middle" data-aos="fade-up" data-aos-delay="100">
                <div class="icon">
                  <img src="./assets/img/Icon-03.svg" alt="">
                </div>
               
                <p class="description">Timber shipments status
                  tracking</p>
              </div>
  
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon">
                  <img src="./assets/img/Icon-04.svg" alt="">
                </div>
                <p class="description">Compliance to RPP (Responsible <br> Purchasing
                  Policy)</p>
              </div>
  
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 align-middle">
              <div class="icon-box align-middle" data-aos="fade-up" data-aos-delay="100">
                <div class="icon">
                  <img src="./assets/img/Icon-05.svg" alt="">
                </div>
               
                <p class="description">ETA (estimated timing at
                  <br> arrival) predictions</p>
              </div>
  
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon">
                  <img src="./assets/img/Icon-06.svg" alt="">
                </div>
                <p class="description">Collaboration system on shipment <br> conformity to
                  order</p>
              </div>
  
            </div>
          </div>
  
          
  
          
  
        </div>
  
        <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
          <img src="./assets/img/img-002.png" class="img-fluid" alt="">
        </div>
      </div>
  
     
  
      <div class="row functions-extra align-middle">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="./assets/img/img-03.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6  " data-aos="fade-left">
         
          <h3 class="title">Everything you need for efficient
            timber trade supply chain management
            on the tips of your fingers.</h3>
          <p>
            100m3 is the solution for efficient timber supply chain management based on real-time data allowing to increase your business performance.
          </p>
          <div class="row">
            <div class="col-md-3 col-sm-3 ">
              <h5>Available on</h5>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="oc-btn">
                <img src="./assets/img/icon-mobile.svg" alt="">
  
                Mobile</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <p class="oc-btn">
                <img class="img-desk" src="./assets/img/icon-desktop.svg" alt="">
  
                Desktop</p>
            </div>
  
          </div>
        </div>
      </div>
  
    </div>
  </section><!-- End About Section -->
  
  <section id="about">
    <div class="container" data-aos="fade-up" >
      <div class="row about-container">
        <div class="row about-extra align-middle">
          
          <div class="col-lg-6 pt-oc-5 " data-aos="fade-left">
            <h4 class="sub-title">ABOUT</h4>
            <h3 class="title">Vitalii Pisarev</h3>
            <p>
              100m3 AG, is a Swiss-based timber trade software startup located in Lucerne, a strategic location for every forestry company. 100m3 CEO Vitalii Pisarev, having more than 20 years experience on the market as a timber trader, knows inside out the challenges facing market stakeholders. His industry knowledge, network, and sales background create a solid platform for successful software adoption by forestry market players
            </p>
            
          </div>
          <div class="col-lg-6" data-aos="fade-right">
            <img src="./assets/img/imagen_05.png" class="img-fluid mb-oc" alt="">
          </div>
        </div>
  
    </div>
  
    </div>
  </section>
  
  
  
  <!-- ======= Contact Section ======= -->
  <section id="contact">
    <div class="container" data-aos="fade-up">
  
     
      <div class="row">
  
        <div class="col-lg-6">
          <h4 class="sub-title">Questions?</h4>
          <h3 class="title">Contact Us</h3>
          <p>
            Find out more about what 100m3 can do to help your business reach more consumers in the digital channel and increase their lifetime value, as well.
          </p>
        </div>
  
        <div class="col-lg-6">
         
  
          <div class="form">
            <form id="my-form" class="ajaxForm contact-form" action="https://formcarry.com/s/1yBVC7lkQ" method="POST"   accept-charset="UTF-8" >
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First Name" required />
                 
                </div>
                <div class="form-group col-lg-6">
                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required />
                 
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required />
                  
                </div>
                <div class="form-group col-lg-6">
                  <input type="tel" name="phone" class="form-control" id="phone" placeholder="Phone"  required />
                  
              
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5"  placeholder="Message"></textarea>
                
              </div>
              
              <div class="text-left"> <!--<input type="submit" value=" Contact us" >-->
                <button type="submit" title="Send Message">Contact us</button></div>
               
            </form>
          </div>
        </div>
  
      </div>
  
    </div>
  </section><!-- End Contact Section -->
  
  </main><!-- End #main -->

